<div class="card upper-card">
  <div id="disp-notes-form" class="card-header">
      {{!-- <h2>{{title}}</h2>
    <input id='titleinput' name='title' >
    <textarea id='bodyinput' name='body'></textarea>
    <button data-id=${data._id} id='savenote'>Save Note</button> --}}
  </div>


  {{!-- <div id="event-list-links" class="list-group list-group-flush overflow"></div> --}}
</div>

{{!-- <script src="/js/displayEvents.js"></script>
<script src="/js/createChart.js"></script> --}}
