<div class="card upper-card">
  <div id="disp-articles" class="card-header">

  </div>
  {{!-- <div id="event-list-links" class="list-group list-group-flush overflow"></div> --}}
</div>

<script src="/js/displayArticles.js"></script>