<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
{{!-- <script src="/public/app.js"></script> --}}
<script src="/js/index.js"></script>

<div class="flex-container">
  <div class="row">
    <div id="scraper-titlebar" class="mx-auto">
      <h1>Note Scraper</h1>
      <button id="scrape">Scrape</button>

      <a href="/saved"><button>Saved Articles</button></a>
    </div>
  </div>
  <div class="row">
    <div class="my-4 mx-auto">
      <h2 id="article-titlebar">Current Articles</h2>
    </div>
    <div class="row">
      <div id="articles" class="mx-auto">{{> displayArticles}}</div>
    </div>
  </div>
</div>
