<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
{{!-- <script src="/public/app.js"></script> --}}

<div class="container">
    <div id="wrapper">
      <h1>Note Scraper</h1>
 
      <h2 id="article-titlebar">Saved Articles</h2>
      <div id="articles">{{> displaySavedArticles}}</div>
      <div id="notes">{{> displayNotes}}</div>
    </div>
    {{!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> --}}

</div>

