
<div class="flex-container">
  <div class="row">

    <div id="scraper-titlebar" class="w-75 mx-auto">
      <h2 id="headline" class="text-center">Saved Articles</h2>
      <div class="text-center header-buttons">
        <button class="px-2 py-1 mx-1 title-button"><a class="link-button" href="/">All Articles</a></button>
      </div>
    </div>

    <div class="row mx-auto">
      <div class="col-md-12 mx-auto">{{> displaySavedArticles}}</div>
       <div class="col-md-8 mx-auto">{{> displayNotes}}</div>
    </div>
  </div>

</div>

{{!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> --}}
<script src="/js/displaySavedArticles.js"></script>