/* #wrapper {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5%;
  background-color: rgb(255, 250, 246);
} */
/* #articles {
  display: inline-block;
  overflow: auto;
  width: 60%;
  height: 700px;
} */
/* #notes {
  float: right;
  width: 30%;
} */

#disp-saved-notes-form, #existing-notes {
  width: 95%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

textarea, input {
  /* display: block; */
  /* width: 100%; */
  background-color: rgb(250, 250, 250);
}
input {
  height: 36px;
  /* font-size: 24px; */
}

.modal-field {
  width: 90% !important;
}

.modal-header {
  background-color: rgb(204, 204, 203);
}

#scraper-titlebar {
  height: 300px;
  background-image: url("../images/newspaper2.jpg");
  background-size: cover;
}

.header-buttons {
  position: relative;
  top: 15%;
} 

.title-button {
  background: rgb(133, 133, 163);
}

.link-button {
  color:black;
}

#headline {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 6em;
  margin-top: 80px;
}

.note-title {
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}
.existing-note-title {
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  color: grey;
}
.existing-note {
  height: 1.2em;
  margin: 20px;
  background-color: rgb(250, 250, 250);
}



.existing-notes-region {
  margin-top: 0px;
  height: 100px;
  width: 90%;
  margin: 20px;
  overflow: scroll;
  background-color: rgb(250, 250, 250);
}

.delete-note {
  font-size: 10px;
  height: 20px;
}
textarea {
  height: 170px;
  font-size: 18px;
}

#article-titlebar {
  background-color: rgb(236, 160, 160);
}
