body {
  background:
linear-gradient(45deg, #e3e6e9 45px, transparent 45px)64px 64px,
linear-gradient(45deg, #e3e6e9 45px, transparent 45px,transparent 91px, #e9eef5 91px, #e9eef5 135px, transparent 135px),
linear-gradient(-45deg, #e3e6e9 23px, transparent 23px, transparent 68px,#e3e6e9 68px,#e3e6e9 113px,transparent 113px,transparent 158px,#e3e6e9 158px);
background-color:#e9eef5;
background-size: 128px 128px;
}

#disp-saved-notes-form, #existing-notes {
  width: 95%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

textarea, input {
  background-color: rgb(250, 250, 250);
}
input {
  height: 36px;
}

.modal-field {
  width: 90% !important;
}

.modal-header {
  background-color: rgb(204, 204, 203);
}

#scraper-titlebar {
  height: 300px;
  width: 80%;
  /* width: 80%; */
  background-image: url("../images/newspaper2.jpg");
  background-size: cover;
}

.header-buttons {
  background-color: rgba(143, 143, 142, 0.719);
  position: relative;
  top: 10%;
} 

.title-button {
  background: rgb(141, 141, 139);
  color: white;
}

.link-button, .link-button:hover{
  color: white;
  text-decoration: none;
}

#headline {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 6em;
  margin-top: 80px;
}

.note-title {
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}
.existing-note-title {
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  color: grey;
}
.existing-note {
  height: 1.2em;
  width: 85%;
  margin: 20px;
  background-color: rgb(250, 250, 250);
}

.existing-notes-region {
  margin-top: 0px;
  height: 100px;
  width: 90%;
  margin: 20px;
  overflow-y: scroll;
  background-color: rgb(250, 250, 250);
}

.delete-note {
  font-size: 10px;
  height: 20px;
}
textarea {
  height: 170px;
  font-size: 18px;
}

#article-titlebar {
  background-color: rgb(236, 160, 160);
}
